body {
  background-image: url("background.jpg");
}
#main{
  background-color: white;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
  

#top{
  margin-top: -20px ;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  color: #3CB8B8;
  background-color: #A8F0EF;
}
#abc{
  font-weight: normal;
}
#abcd{
  margin-top: 2px;
  font-weight: normal;
}
#left{
  border: 5px;
  border-style: solid;
  border-color: #0A7D7F;
  float: left;
  background-color: #3FE0D0;
  text-align: left;
  width: 220px;
  margin-left: 20px;

}
#friends{
  margin-left: 30px;
  color: #3CB8B8;
  font-weight: normal;
  
}
#righttop{
  background-color: #E8FAFA;
  border: 5px;
  float: right;
  margin-left: 20px;
  border-style: solid;
  border-color:#C3E7EA;
  margin-right: 25px;
  margin-bottom: 25px;
  
}
#sp{
  float: right;
  
}
#cookies{
  float:right;
  height: 150px;
  width: 200px;
}

#heading1{
  color: #3CABA8;
  font-weight: normal;
}
#heading2{
  color: #3CABA8;
  font-weight: normal;
}
#bottomright{
  background-color: #E8FAFA;
  border: 5px;
  margin-left: 20px;
  border-style: solid;
  float: right;
  border-color:#C3E7EA;
  width: 832px;
  margin-bottom: 25px;
  margin-right: 25px;
  
}
.underline {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: blue;
}
#main::after { 
    content: ""; 
    display: block;
    clear: both;
}
